#set( $charsPerLine = 72 )
$report.center("JC HARMONY SELLING INC.", $charsPerLine)

$report.center("PAID SALES INVOICE REPORT", $charsPerLine)
$report.center("As of ${paymentDate}", $charsPerLine)

                                                           Page: $currentPage x $totalPages

S.I. #         Customer Name          Net Amount    Amount Due    Pay. #
------ ------------------------------ ------------- ------------- ------
##369282 CAN-LIZA'S SARI-SARI STORE          5,351.90      5,351.90      1
#foreach($paymentSalesInvoice in $paymentSalesInvoices)
$report.field($paymentSalesInvoice.salesInvoice.salesInvoiceNumber, 6, "right") $report.field($paymentSalesInvoice.salesInvoice.customer.name, 30) $report.field($paymentSalesInvoice.salesInvoice.totalNetAmount, 13, "right") $report.field($paymentSalesInvoice.amountDue, 13, "right") $report.field($paymentSalesInvoice.parent.paymentNumber, 6, "right")
#end
#if($isLastPage == true)
                                                    -------------  
                                       T O T A L => $report.field($totalAmountDue, 13, "right")
                                                    =============
#end