$report.center("JC HARMONY SELLING INC.", 76)

$report.center("POSTED SALES REPORT", 76)
$report.center("As of ${reportDate}", 76)
                                                               Page: $currentPage x $totalPages

S.I. #                                Sub Total     Discount
S.R. #        Customer Name           Amount        Amount      Net Amount
------ ------------------------------ ------------- ---------- -------------
##369282 CAN-LIZA'S SARI-SARI STORE            816.35                 5,351.90
#foreach($item in $items)
$report.field($item.transactionNumber, 6, "right") $report.field($item.customer.name, 30) $report.discount($item.totalAmount, 13) $report.discount($item.totalDiscounts, 10) $report.field($item.totalNetAmount, 13, "right")
#end
#if($isLastPage == true)
                                      ------------- ---------- -------------  
                       T O T A L S => $report.field($postedSalesReport.totalAmount, 13, "right") $report.field($postedSalesReport.totalDiscounts, 10, "right") $report.field($postedSalesReport.totalNetAmount, 13, "right")
                                      ============= ========== =============
#end