

$report.center("PRICE CHANGES REPORT", $charsPerLine)
$report.center("as of $report.field($priceChangesReport.fromDate) - $report.field($priceChangesReport.toDate)", $charsPerLine)
                                                                                Page: $currentPage x $totalPages

