Promo Name : P&G JOLLIBEE GC GIVEAWAY
Customer   : $promoRedemption.customer.name

   Tran. Date S.I. #    Amount
   ---------- ------ ------------
##   11/28/2014 366237   146,906.86
#foreach($redemptionSalesInvoice in $promoRedemption.salesInvoices)
   $report.field($redemptionSalesInvoice.salesInvoice.transactionDate) $report.field($redemptionSalesInvoice.salesInvoice.salesInvoiceNumber, 6, "right") $report.field($redemptionSalesInvoice.salesInvoice.getSalesByManufacturer($promoRedemption.promo.promoType1Rule.manufacturer), 12, "right")
#end
                     ------------
           TOTALS => $report.field($promoRedemption.totalAmount, 12, "right")
                     ============

Prize(s)

$promoRedemption.prizeQuantity PCS JOLLIBEE P50 GIFT CERTIFICATE 