                         JC HARMONY SELLING INC.
                   251 GEN.P.ALVAREZ ST.CALOOCAN CITY
                         TEL.NO.3621785 3235946

                         PURCHASE ORDER DISCOUNT

P.O. #   :  25075                                     Date  : 08/21/14
                                                      Terms : CashOnDel-   0%
Supplier : ULTRA MEGA MULTI SALES                                
Address  : 888 BRGY. TUNASAN,                       Encoder : IRENE
	       NATIONAL HI-WAY M.M.
                                                            
                                                                                                 Discount  Discount  Final
          Description           Unit Qty    Cost      Amount   Disc. 1 Disc 2. Disc. 3 Flat Rate Amount    Given     Cost/Qty
 ------------------------------ ---- ---- --------- ---------- ------- ------- ------- --------- --------- --------- ---------
 LUCKY ME NOODLE 55gmx72 CHICKE CSE    50    501.00  25,050.00  4.00 %  5.00 %  5.00 %    420.00 24,048.00  1,002.00    480.96
 GREAT TASTE TRIO 30gx10'Sx24 W CSE   150  1,357.00 203,550.00  3.00 %                           *********  6,106.50  1,316.29
                                                 -------------
 Total Items     :    33             Sub Total :    429,718.00
 Total Qty Order :   510              Discount :     17,711.55
                                                 -------------
                                    Net Amount P    412,006.45