                         JC HARMONY SELLING INC.
                   251 GEN.P.ALVAREZ ST.CALOOCAN CITY
                         TEL.NO.3621785 3235946

                             RECEIVING REPORT

Supplier : OFFTAKE MARKETING                                R.R. #   :  23879 
Address  :                                                  P.O. #   :  27582
	
                                                            Date   : 02/11/14
Terms    : CashOnDel-   0%Disc
                                                    Qty
  Code                 Description             Unit Rec    Cost      Amount
--------- ------------------------------------ ---- ---- --------- ----------
JCICYL025 JUICY COLOGNE ICY 25ml BLU           PCS    24     13.75     330.00
SILPAP064 SILKA ORANGE 65gx6'sx96              CSE    20  1,440.00  28,800.00
                                                                 ------------
Total Items     :     6  Encoder : IRENE             Sub Total :    36,093.00
Total Qty Order :    59                               Discount :     3,162.47                 
                                                                 ------------
Received by :          Checked by:                 TOTAL AMOUNT P   32,930.53
                                                                 ============
____________________   ____________________