




                                                                         $currentPage x $totalPages

                                                               $report.field($salesInvoice.transactionDate)
                                                               $report.field($salesInvoice.salesInvoiceNumber, 7) PS: $salesInvoice.pricingScheme.id

             $salesInvoice.customer.name

             $report.field($salesInvoice.customer.businessAddress, 64)



$items
#if($isLastPage == true)

     Total Items - $report.field($totalItems, 3, "right")   Total Qty - $report.field($totalQuantity, 3, "right")             GROSS AMT  $report.field($salesInvoice.totalAmount, 12, "right")
                                                     DISC     ( $report.field($salesInvoice.totalDiscounts, 12, "right") )
                                                     NET AMOUNT $report.field($salesInvoice.totalNetAmount, 12, "right")
#foreach($fillerLine in $fillerLines)

#end

              $report.field($salesInvoice.vatableSales, 12, "right")                                      $report.field($salesInvoice.totalNetAmount, 12, "right")
              $report.field($salesInvoice.vatAmount, 12, "right")                                      $report.field($salesInvoice.vatAmount, 12, "right")
                                                                $report.field($salesInvoice.vatableSales, 12, "right")





                                                                $report.field($salesInvoice.totalNetAmount, 12, "right")
#end