DUMPLING JOY GROCERY

POSTED SALES INVOICE REPORT
As of 11/14/14
                                                                           Page:    1

                                               Sub Total     Discount
S.I. #   Date          Customer Name           Amount        Amount      Net Amount
------ -------- ------------------------------ ------------- ---------- ------------- 
369282 11/03/14 CAN-LIZA'S SARI-SARI STORE            816.35                 5,351.90
                                               ------------- ---------- -------------  
                                T O T A L S => 
                                               ============= ========== ============= 
                                               