#set( $charsPerLine = 113 )
$report.center("JC HARMONY SELLING INC.", $charsPerLine)

$report.center("POSTED SALES INVOICE REPORT", $charsPerLine)
$report.center("As of ${reportDate}", $charsPerLine)
                                                                                                    Page: $currentPage x $totalPages

                                      Sub Total     Discount
S.I. #        Customer Name           Amount        Amount      Net Amount     Net Cost     Net Profit
------ ------------------------------ ------------- ---------- ------------- ------------- -------------
##369282 11/03/14 CAN-LIZA'S SARI-SARI STORE            816.35                 5,351.90        784.92         31.43
#foreach($salesInvoice in $salesInvoices)
$report.field($salesInvoice.salesInvoiceNumber, 6, "right") $report.field($salesInvoice.customer.name, 30) $report.field($salesInvoice.totalAmount, 13, "right") $report.discount($salesInvoice.totalDiscountedAmount, 10) $report.field($salesInvoice.totalNetAmount, 13, "right") $report.field($salesInvoice.totalNetCost, 13, "right") $report.field($salesInvoice.totalNetProfit, 13, "right")
#end
#if($isLastPage == true)
                                      ------------- ---------- -------------  
                       T O T A L S => $report.field($salesInvoiceReport.totalAmount, 13, "right") $report.field($salesInvoiceReport.totalDiscountedAmount, 10, "right") $report.field($salesInvoiceReport.totalNetAmount, 13, "right")
                                      ============= ========== =============
#end