                             JC HARMONY SELLING INC.
                       251 GEN.P.ALVAREZ ST.CALOOCAN CITY
                             TEL.NO.3621785 3235946
	
                                  DELIVERY RECEIPT
	
Customer : $report.field($salesInvoice.customer.name, 30)                   Page   :    $currentPage x $totalPages
Address  : $report.field($salesInvoice.customer.address, 40)         D.R. # : $report.field($salesInvoice.salesInvoiceNumber, 8, "right")
Mode     : $report.field($salesInvoice.mode, 10)                                       Date   : $currentDate
Remarks  : $report.field($salesInvoice.remarks, 40)         PS     : $report.field($salesInvoice.pricingScheme.id, 8, "right")
	
         Product Description                   Unit Qty    Price     Amount
---------------------------------------------- ---- ---- --------- ----------
#foreach($item in $items)
$report.field($item.product.description, 40)   [ ] $report.field($item.unit, 4) $report.field($item.quantity, 4, "right") $report.field($item.unitPrice, 9, "right") $report.field($item.amount, 10, "right")
#end
#if($isLastPage == true)
                                                                 ------------
Total Items => $report.field($salesInvoice.items.size(), 3) Total Qty => $report.field($salesInvoice.totalQuantity, 4, "right")                 Sub Total : $report.field($salesInvoice.totalAmount, 12, "right")
                                                     Discount  :(  $report.field($salesInvoice.totalDiscountedAmount, 10, "right"))
Prepared by : ____________________  Encoded by:                  ------------
                                    $report.field($salesInvoice.postedBy.username, 12)     Net Amount: $report.field($salesInvoice.totalNetAmount, 12, "right")
Checked by  : ____________________                               ============
	
Received by : ____________________         Approved by : ____________________
#end